<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AKME HOMEPAGE</title>
    <link rel="stylesheet" href="/css/styles2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/a46c8e39b9.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header">
        <div class="direccion">
            <span>Dr. Melo 4410, Remedios de Escalada - Provincia de Buenos Aires - Argentina</span>    
        </div>
        <div class="telefonoycorreo">
            <span>Tel: 11-1111-1111</span>
            <span>e-mail: info@akme.com.ar</span>
        </div>
        </div>
        <section class="header2">
            <img src="/images/AKME.png" alt="Logo de AKME">
            <div class="busqueda">Buscar productos</div>
            <div>
                <i class="fas fa-sign-in"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </section>
        <div>
            <nav>
                <ul class= "navbar">
                    <li>HOME</li>
                    <li>PRODUCTOS</li>
                    <li>CONTACTO</li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="carrusel">
    </section>
    <footer>
        <div class="container">
            <img class="logofooter" src="/images/AKME.png" alt="">
            <div class="acerca">
                <h3>ACERCA DE</h3>
                    <ul class="footer">
                        <li>Quienes Somos</li>
                        <li>Historia</li>
                        <li>Relaciones Institucionales</li>
                    </ul>
            </div>
            <div class="ayuda">
                <h3>AYUDA</h3>
                    <ul class="footer">
                        <li>Ayuda con tu compra</li>
                        <li>FAQ</li>
                        <li>Reimpresion de certificados</li>
                    </ul>
            </div>
            <div class="contacto">
                <h3>CONTACTO</h3>
                <ul class="redes">
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-whatsapp"></i></li>
                    <li><i class="far fa-envelope"></i></li>
                </div>
            </div>
        </div>
    <div class="copyright">
        <p class = "copyright"><span>© 2022 AKME SAFETY PRODUCTS S.A.</span> - Todos los derechos reservados</p> 
    </div>
    </footer>