*{
    font-family: 'roboto', arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-size: 9px;
    text-align: left;
}

.direccion {
    display: flex;
    width: 60%;
    align-items: center;
}

.telefonoycorreo {
    display: flex;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header2 {
    background-color: #142D39;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header2 img {
    width: 25vw;
}

li, a {
    list-style: none;
    padding: 10px;
    color: white;
    text-decoration: none;
}

i {
    font-size: 20px;
    padding: 5px;
}

.busqueda {
    width: 50vw;
    height: 5vw;
    background-color: white;
    border: solid 1px black;
    color: black;
    font-size: 10px;
    text-align: left;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #142D39;
    flex-wrap: wrap;
}

.navbar li {
    font-size: 14px;
    font-weight: bold;
    background-color: #142D39;
    color: white;
}

footer .container {
    display: flex;
    flex-direction: row;
    background-color: #142D39;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logofooter {
    width: 25%;
    height: 25%;
}

.acerca {
    width: 25vw;
}

.ayuda {
    width: 25vw; 
}

.contacto {
    width: 25vw; 
}


div .copyright {
    background-color: #142D39;
    color: white;
    text-align: center;
    font-size: 9px;
    font-weight: lighter;
    border-top: solid 1px white;
    padding-top: 3px;
    padding-bottom: 3px;
}

.copyright span {
    font-weight: bold;
}

h3 {
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
    padding: 5px;
    color: white;
}

footer li {
    font-size: 10px;
    padding: 2px;
    margin-left: 5px;
}

footer i {
    font-size: 14px;
    padding: 5px;
    margin: 1px;
}

.redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.redes li {
    display: flex;
    background-color: #30708d;
    color: white;
    border-radius: 25%;
    margin: 5px;
    transition-property: background-color, color;
    transition-duration: 1s;
}

.navbar li:hover {
    background-color: white;
    color: #142D39;
    transition-property: background-color;
    transition-duration: 1s;
}

.redes li i:hover {
    background-color: white;
    color: #142D39;
    transition-property: background-color, color;
    transition-duration: 1s;
}

.redes li:hover {
    background-color: white;
}

form {
    display: flex;
    width: 50%;
    justify-content: center;
}

form i{
    color: black;
}

input {
    height: 34px;
    color: black;
    border: solid 1px black;
    width: 50%;
}

button {
    border-radius: 5px;
    text-align: center;
}

.slider-container img {
    width: 100%;
} 
    
  @media (min-width: 606px) {
    .logofooter {
        width: 15vw;
    }
    .header2 img {
        width: 15vw;
    }
    .navbar li {
        font-size: 18px;
    }
    .footer li {
        font-size: 12px;
    }
    h3 {
        font-size: 15px;
    }
    p.copyright {
        font-size: 11px;
    }
    .header span {
        font-size: 11px;
    }
    .acerca {
        width: 15vw;
    }
    
    .ayuda {
        width: 15vw; 
    }
    
    .contacto {
        width: 15vw; 
    }
}

@media (min-width: 1200px) {
    .footer li {
        font-size: 14px;
    }
    h3 {
        font-size: 20px;
    }
    .footer li {
        font-size: 16px;
    }

    .header2 div i {
        font-size: 24px;
        text-align: center;
    }

    .header span {
        font-size: 14px;
    }
    p.copyright {
        font-size: 14px;
    }
}